div{
    scrollbar-width: 0;
}
::-webkit-scrollbar{
    width: 0;
}

.manual-blur{
    backdrop-filter: blur(4px);
}


.manual-shadow{
    transition: all 0.5s;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.562);
}


.manual-color{
    background-color: #081217;
}

